*{
    
    margin-top: 0%;
    margin-bottom: 0%;
}
body{
    background-color: rgb(217, 128, 12);
    margin-bottom: 0%;
}
.body{
    display: flex;

    background-color: blue;
}
.block-2{
background-color: antiquewhite;
width: 100%;
display: flex;
}
.members-part-1{
    display: flex;
}